<!DOCTYPE html>
<html>
  <head>
    <title>vxchrome</title>
    <style>
      @import 'tailwind.css';
    </style>
  </head>
  <body class="bg-353433 text-e9e8e7 p-8 text-base">
    <div id="app">
      <h1 class="text-8b8685 text-4xl">
        vx options
      </h1>
      <template v-if="true">
        <div class="max-w-xl">
          <h2 class="text-2xl text-bbeeff mt-6 mb-4">Language settings</h2>

          <div class="flex items-baseline mb-4">
            <div class="w-1/3">
              <label
                class="block font-bold md:text-right mb-1 md:mb-0 pr-4"
                for="first_language"
              >
                First language
              </label>
            </div>
            <div class="w-2/3">
              <input
                class="block w-full form-input bg-090807 border-454443 hover:border-656463 shadow placeholder-8b8685"
                id="first_language"
                type="text"
                placeholder="Enter second language"
                v-model="store.settings.language1"
              />
            </div>
          </div>

          <div class="flex items-baseline mb-4">
            <div class="w-1/3">
              <label
                class="block font-bold md:text-right mb-1 md:mb-0 pr-4"
                for="second_language"
              >
                Second language
              </label>
            </div>
            <div class="w-2/3">
              <input
                class="block w-full form-input bg-090807 border-454443 hover:border-656463 shadow placeholder-8b8685"
                id="second_language"
                type="text"
                placeholder="Enter second language"
                v-model="store.settings.language2"
              />
            </div>
          </div>

          <save-button :store="store"></save-button>

          <h2 class="text-2xl text-bbeeff mt-6 mb-4">Keyboard shortcuts</h2>

          <div class="flex items-center mb-4">
            <div class="w-1/3"></div>
            <div>
              <a
                @click="shortcuts"
                class="block shadow bg-blue-500 text-white focus:shadow-outline focus:outline-none font-bold py-2 px-4 rounded"
              >
                Customize keyboard shortcuts
              </a>
            </div>
          </div>

          <h2 class="text-2xl text-bbeeff mt-6 mb-4">
            Output settings [DUMMY]
          </h2>

          <div class="flex items-baseline mb-4">
            <div class="w-1/3">
              <h3 class="block font-bold md:text-right mb-1 md:mb-0 pr-4">
                Overlay / Popup
              </h3>
            </div>
            <div class="w-2/3">
              <boolean-flag
                :store="store"
                setting-key="outputPopup"
                title="Display an overlay or popup"
              >
                When this is turned on, an overlay will be displayed when you
                activate this extension inside a web page. Otherwise, a pop-up
                dialog is displayed.
              </boolean-flag>

              <boolean-flag
                :store="store"
                setting-key="outputPopupAutoFocus"
                title="Auto-focus popup"
              >
                If unchecked, the popup window may appear below other windows.
                Enabling this option ensures that the text being recognized is
                displayed, but can also be annoying.
              </boolean-flag>
            </div>
          </div>

          <div class="flex items-baseline mb-4">
            <div class="w-1/3">
              <h3 class="block font-bold md:text-right mb-1 md:mb-0 pr-4">
                Sound
              </h3>
            </div>
            <div class="w-2/3">
              <boolean-flag
                :store="store"
                setting-key="outputSound"
                title="Enable sound"
              >
                When this is turned on, a sound will be played when recognition
                is started, when recognition is stopped, and each time text is
                copied to the clipboard.
              </boolean-flag>
            </div>
          </div>

          <div class="flex items-baseline mb-4">
            <div class="w-1/3">
              <h3 class="block font-bold md:text-right mb-1 md:mb-0 pr-4">
                Notification
              </h3>
            </div>
            <div class="w-2/3">
              <boolean-flag
                :store="store"
                setting-key="outputNotificationSession"
                title="Show session notification"
              >
                When this is turned on, a single notification will be displayed
                when a speech recognition session is active. How well this works
                depends on the OS.
              </boolean-flag>

              <boolean-flag
                :store="store"
                setting-key="outputNotificationTranscript"
                title="Show transcript notifications"
              >
                When this is turned on, a separate notification will be sent
                each time text is copied to the clipboard.
              </boolean-flag>
            </div>
          </div>

          <save-button :store="store"></save-button>
        </div>
      </template>
    </div>

    <script src="vendor/vue-2.6.11.js"></script>
    <script src="options.js"></script>
  </body>
</html>
